<% layout('/layouts/boilerplate') %>

<body>
  <div class="container mt-5 text-center">
    <h1 class="display-4">404 Error!</h1>
    <p class="lead"><%= err.message || "Oops! The page you're looking for doesn't exist." %></p>
    <a href="/listings" class="btn btn-primary">Back to Listings</a>
  </div>
</body>
